/* .form-container {
  width: 700px;
  margin: 200px auto 0 auto;
  background-color: brown;
} */

/* .form-container label{
  display: block;
  margin-bottom: 6px;
} */
/* .contact-details {
  background: linear-gradient(to top left, var(--primary-dark), var(--primary-blue));
} */
.form-container form {
  background: rgb(192, 191, 191);
  width:500px;
  margin: 20px auto;
  padding: 20px

}

.form-header h1 {
  text-align:center;
  margin-bottom:5px;
  margin-top:25px;
  color: blue;
}

.form-header p {
  text-align:center;
  color: blue;
}

label, .input-block {
  display:block;
  width: 100%;
}

label,legend {
  margin-top: 10px;
  margin-bottom: 10px
}

.input-block {
  padding:9px;
  border:none;
  border-radius:5px;
  margin-bottom:25px
}

textarea {
  width:100%;
  margin-bottom:19px;
  border:none;
  border-radius:5px;
  padding: 6px;
}

.submit-btn {
  padding: 10px 17px;
  border:none;
  border-radius:5px;
  background: linear-gradient(to top right, var(--accent-orange), orange);
  font-size:16px;
  width:100%;
  cursor: pointer;
}