/* Search bar container */
.search-container {
  display: flex;
  align-items: center;
  width: 100%; 
  max-width: 1500px; 
  margin: 0 auto 2.5rem auto;
  border: 1px solid #062882;
  border-radius: 20px 20px 20px 20px;
  box-shadow:  0 0 0 3px #C0DBFB;
}

.search-icon {
  height: 40px;
  width: 35px;
  padding: 2px;
  margin-left: 3px;
  cursor: pointer;
  }

/* Search icon styling */
.search-icon {
  margin-right: 0.8rem;
  font-size: 1.4rem;
  color: #000;
  font-weight: bold;
}

/* Input field */
.org-search-bar {
  border: none;
  outline: none;
  font-size: 1rem;
  flex-grow: 1;
  background-color: transparent;
}