.footer-container {
    background-color: var(--primary-dark);
    padding: 40px 20px;
    color: hsl(0, 43%, 96%);
    font-size: 14px;
    border-top: 1px solid #ccc;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
  }

  .footer-content {
    display: flex;
    /* width: 100%; */
    justify-content: space-around;
    align-items: center;
  }

  .footer-section h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section li {
    margin-bottom: 10px;
  }
  

  .footer-section li a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: hwb(249 71% 6%);
  }
  
  .footer-section li a:hover {
    text-decoration: underline;
  } 
  
  .footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
    color: #bcbaea;
  }
  
  .footer-section a {
    text-decoration: none;
    color: #b3ade0;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .disabled-link {
    color: hsl(246, 55%, 75%);
    cursor: default;
  }
  