.organization-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards horizontally */
}

/* src/components/OrganizationCard.css */
.organization-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 200px; /* Adjust width as needed */
    transition: box-shadow 0.3s ease; /* Smooth transition */
}

.organization-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.organization-name {
    font-size: 1.5em;
    margin: 8px 0;
}

.organization-location {
    color: #666;
    font-style: italic; 
}





/* .organization-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
} */

.org-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(203, 101, 101, 0.08);
  padding: 1.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: block;
   margin-bottom: 2px;
   cursor: pointer;
}

.org-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}



.organization-name {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  color: #333;
}

.organization-location {
  font-size: 0.95rem;
  color: #666;
}
