.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-backdrop .modal-content {
  background-color: #fff;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal-backdrop .modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-backdrop .modal-content input,
.modal-backdrop .modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-backdrop .modal-content textarea {
  resize: vertical;
  height: 80px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.actions .cancel-button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.cancel-button:hover {
  background-color: #5a6268;
}
