
.navigation-button {
  padding: 10px 20px;
  background-color: var(--accent-orange);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-left: 45%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

main{
  padding: 10% 5%;
  background: linear-gradient(#02153D, #00368E);
  height: 100vh;
  display: flex;
}

.hero-image{
  width: 850px;
  position: fixed;
  right: 50px;
  bottom: 150px;
}
.hero-image img {
  width: 100%;
}

.preview-text{
  background-color: #fff;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.head-text{
  font-size: 4rem;
  line-height: 1.5em;
  font-weight: bolder;
}