

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--bg-white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  padding: 0 5%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.qless-logo{
  width: clamp(7rem, 15vw, 20rem);
  height: auto;
  color: var(--accent-orange);
  cursor: pointer;

}




.nav-bar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar ul li a {
  text-decoration: none;
  color: var(--text-dark);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.nav-bar ul li a:hover {
  color: var(--accent-orange);
  border-bottom: 2px solid var(--accent-orange);
}

.register-nav {
  border: 1px solid var(--accent-orange);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.nav-bar ul li .register-nav:hover {
  background-color: var(--accent-orange);
  color: white;
  transform: scale(1.05);
}

.hamburger-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--accent-orange);
}


/* Overlay behind the nav */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1500; 
}

.nav-bar {
  z-index: 1600;
}

@media (max-width: 900px) {
  .hamburger-icon {
    display: block;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    left: -70%; 
    width: 7.2rem; 
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.226); 
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 78px 0.5rem 0px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
    transition: left 0.4s ease;
    
  }
  
  .nav-bar.open {
    left: 0; 
    z-index: -1;
    margin-top: 80px;
   
  }

  .nav-bar ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
  }

  .nav-bar ul li a {
    font-size: 1rem;
    width: 100%;
    display: block;
     color: white;
  }
}

/* Optional fix for very small screens */
@media (max-width: 360px) {


  .nav-bar ul li a {
    font-size: 1rem;
     color: white;
  }

  .register-nav {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
}
